<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39130238863-dqprehbkv2npcl1oep7od3lh32ev4ig4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39130238863-dqprehbkv2npcl1oep7od3lh32ev4ig4</string>
	<key>API_KEY</key>
	<string>AIzaSyDBd13cBBmn6OOQHNX7YNkoie8LSgK0CxU</string>
	<key>GCM_SENDER_ID</key>
	<string>39130238863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coducode.marketingTools</string>
	<key>PROJECT_ID</key>
	<string>pancakesff</string>
	<key>STORAGE_BUCKET</key>
	<string>pancakesff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39130238863:ios:f9f89c086a9338f07745fa</string>
</dict>
</plist>